body {
    background-image: url("/html/white.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }
  li {
    font-family: 'Mystery Quest', cursive;
    font-size: 20px;
    
    
  }
 .row {
        object-position: left;
        background-color: whitesmoke;
        padding: 1rem 0 0;
        border: 1px solid #cacaca;
        box-shadow: 0 0 4.125rem rgba(0, 0, 0, 0.18);
        
        margin-top: 50px;
        margin-right: 30px;
        height: 75%;
      }
 .menu-text{
     color: green;
     font-size: 40px;
 }
 h1{
     color: green;
     font-family: 'Mystery Quest', cursive ;
 }
 