.hero-search-filter-drink {
  background: url("/Recipe-List-Platform/white.jpg") center center no-repeat;
  margin-top: 2%;
  height: 100%;
  padding-left: 20px;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

}


.hero-search-filter {
  background: url("/Recipe-List-Platform/white.jpg") center center no-repeat;
  margin-top: 2%;
  height: 75%;

  background-size: cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-search-filter-logo {
  margin-bottom: 2rem;
}

.hero-search-filter-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 300px;
  margin-top: 220px;
  margin-left: 80px;

  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

}

.hero-search-filter-menu {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (max-width: 39.9375em) {
  .hero-search-filter-menu li {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }

  .hero-search-filter-menu li a {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.hero-search-filter-menu a {
  color: #fefefe;
  font-weight: bold;
}

.hero-search-filter-menu a .fa {
  font-size: 1.125rem;
  font-weight: normal;
  text-decoration: none;
}

.hero-search-filter-menu a:hover {
  text-decoration: underline;
}

.hero-search-filter-form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 80%;
  background-color: rgb(203, 221, 235);
  padding: 0.25rem;
  border-radius: 5px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}



.hero-search-filter-form label {
  margin-right: 0.75rem;
  margin-left: 0.75rem;

  color: #301088;
  font-weight: bold;
  box-shadow: none;
  border: 0;

}

.hero-search-filter-form input {
  margin-bottom: 0;
  width: 90%;
}

.hero-search-filter-form .button {
  width: 60px;
  margin-bottom: 0px;
  border-radius: 10%;
}

@media screen and (max-width: 39.9375em) {
  .hero-search-filter-form {
    width: 95%;
  }
}

.hero-search-filter-form-find {
  border: 0;
  box-shadow: none;
  width: 300px;


}

.hero-search-filter-form-find:focus {
  border: 0;
  box-shadow: none;
}

#findtext {
  width: 100%;
  border: 0;
  box-shadow: none;
  font-size: 30px;
  background-color: rgb(203, 221, 235);
}

.button {
  padding: 14px;
  background-color: rgb(24, 100, 150);
  margin-right: 0px;
}

.button:hover {
  background-color: rgb(89, 138, 230);
}

h1 {
  font-family: 'Emilys Candy', cursive;


  font-size: 80px;
  text-align: center;
  margin-top: 30px;
  font-weight: bolder;
  color: rgb(58, 138, 189);

}

h3 {
  font-family: 'Emilys Candy', cursive;


  font-size: 70px;
  text-align: center;
  margin-top: 30px;
  font-weight: bolder;
  color: rgb(58, 138, 189);
}

label {
  font-size: 25px;
  font-family: 'Emilys Candy', cursive;


}

li {
  font-family: 'Emilys Candy', cursive;


  font-size: 20px;
  color: rgb(58, 138, 189)
}

h2,
th,
i {
  font-family: 'Emilys Candy', cursive;
  color: rgb(58, 138, 189);

}

.Cocktail {
  font-size: xx-large;
  font-weight: bolder;
  font-family: 'Emilys Candy', cursive;


  color: rgb(58, 138, 189);

}

img {
  width: 100%;
  object-fit: contain;
}


.row {
  object-position: left;
  background-color: whitesmoke;
  padding: 1rem 0 0;
  border: 1px solid #cacaca;
  box-shadow: 0 0 4.125rem rgba(0, 0, 0, 0.18);

  margin-top: 50px;
  margin-right: 30px;
  height: 75%;
}

.menu-text {
  color: green;
  font-size: 40px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(221, 218, 218);
  color: white;
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');