.hero-drink {
  background: url("white.jpg") center center no-repeat;
  margin-top: 2%;
  padding-left: 20px;
  padding-bottom: 30%;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

}

.btn {
  padding: 14px;
  background-color: rgb(58, 138, 189);
  margin-right: 0px;
}
  
.btn:hover {
  background-color: rgb(57, 101, 184);
}

h1 {
  font-family: 'Emilys Candy', cursive;
  font-size: 80px;
  text-align: center;
  margin-top: 30px;
  font-weight: bolder;
  color: rgb(58, 138, 189);

}

h3 {
  font-family: 'Emilys Candy', cursive;
  font-size: 70px;
  text-align: center;
  margin-top: 30px;
  font-weight: bolder;
  color: rgb(58, 138, 189);
}

label {
  font-size: 25px;
  font-family: 'Emilys Candy', cursive;
}

li {
  font-family: 'Emilys Candy', cursive;
  font-size: 20px;
  color: rgb(241, 248, 253)
}

h2,
th {
  font-family: 'Emilys Candy', cursive;
  color: rgb(58, 138, 189);
}

.Cocktail, .Meal {
  font-size: xx-large;
  font-weight: bolder;
  font-family: 'Emilys Candy', cursive;
  color: rgb(58, 138, 189);

}

img {
  width: 100%;
  object-fit: contain;
}

.row {
  object-position: left;
  background-color: whitesmoke;
  padding: 1rem 0 0;
  border: 1px solid #cacaca;
  box-shadow: 0 0 4.125rem rgba(0, 0, 0, 0.18);
  margin-top: 50px;
  margin-right: 30px;
  height: 75%;
}

.menu-text {
  color: rgb(58, 138, 189);
  font-size: 40px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(221, 218, 218);
  color: white;
  text-align: center;
}

.table{
  width: 100%;
}
th {
  padding-right: 5%;
}